 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');
 *{
   margin: 0;
   font-family: "Poppins";
   color: #DCFD51;
   
 }

 .navbar {
   padding: 20px;
   display: flex;
   align-items: center;
   margin: 0 auto;
   height: 80px;
  background-color: #333333;
 }

 .navbar h1 {
   color: #DCFD51;
  font-weight: 900;
 }

 .navbar .links {
   margin-left: auto;
 }

 .navbar a {
   margin-left: 16px;
   text-decoration: none;
   padding: 6px;
   color:#DCFD51;
   font-weight:600;

 }

 .navbar a:hover {
   color: #DCFD51;
 }

 .content {
   margin: 40px auto;
   padding: 20px;
 }
